#config file

task_list="../mmap/task.mmap"

ts_buffer="../mmap/ts_buffer.mmap"

pid_list="../mmap/pidlist.mmap"

logfile="../log/ds.log"

tasktsdir="../taskts/"
pid_files_dir="../pidts/"
tmp_pid_files_dir="../tmp_pidts/"

rate="100e+6"

rate_ori="100e+6"


#rate="5200000"
#rate_ori="5200000"

burst_enable="0"
scan_interval="5000"
